<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%=date%></h1>
    </div>
    <div class="box" id="heading">
        <h1><%=type%></h1>
    </div>
    
    <div class="box">
        <% for(var i=0;i<itemsList.length;i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="id" value=<%=itemsList[i].id%>>
                    <p><%=itemsList[i].title%></p>
                    <input type="hidden" name="type" value=<%=type%>>
                </div>
            </form>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%=type%> >+</button>
        </form>
    </div>
    
    
</body>
</html>